<?xml version="1.0"?>
<!--
/**
 * @category    Pyxl
 * @package     Pyxl_MarketoWidget
 * @copyright   2018 Joel Rainwater
 * @license     http://opensource.org/licenses/mit-license.php MIT License
 * @author      Joel Rainwater <jrainwater@pyxl.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pyxl_marketo" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Marketo Settings</label>
            <tab>pyxl</tab>
            <resource>Pyxl_MarketoWidget::config</resource>
            <group id="settings" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Marketo Settings</label>
                <field id="base_url" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base URL</label>
                    <comment>Base URL to the Marketo server instance for your subscription (e.g. "//app-sjqe.marketo.com")</comment>
                </field>
                <field id="munchkin_id" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Munchkin ID</label>
                    <comment>Munchkin ID of the subscription.</comment>
                </field>
            </group>
        </section>
    </system>
</config>